
{% if page.comments %}
<aside class="comments related" role="complementary">
  <h2 class="hr">{{ site.data.strings.gitalk_comments | default:"Comments" }}</h2>
  <div id="disqus_thread_gitalk"></div>
</aside>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>
var gitalk = new Gitalk({
clientID: '{{ site.comments.gitalk_clientID }}',
clientSecret: '{{ site.comments.gitalk_Secret }}',
repo: '{{ site.comments.gitalk_repo }}',
owner: '{{ site.comments.gitalk_owner }}',
admin: '{{ site.comments.gitalk_admin }}',
id: location.pathname, 
distractionFreeMode:true,
proxy: '{{ site.comments.proxy }}',

});
gitalk.render('disqus_thread_gitalk')
</script>
{% endif %}

{% if page.comments %}
<aside class="comments related" role="complementary">
  <h2 class="hr">{{ site.data.strings.comments | default:"Comments" }}</h2>
  {% include my-comments.html %}
</aside>
{% endif %}