.dl-table {
  a {
    padding-bottom: 0.4rem;
  }

  .btn {
    margin: 1.5rem 0;
  }
}
.resume-frame{
  height: calc(100vh - 50px);
  position: relative;
  top:-70px;
}

/*
*/
/* Custom Stylesheet */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

/* displays over canvas on safari if use strict disabled */

.content.content--canvas canvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000 !important;
}

/* Nav */

nav ul a {
  padding: 0 25px;
  color: #2d2d2d !important;
}

nav ul li a:hover {
  background-color: transparent;
}

.underline:hover {
  border-bottom: 1px solid currentColor;
  opacity: .8;
}

.activity {
  border-bottom: 1px solid currentColor;
}

nav.transparent {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.nav-wrapper {
  width: 100%;
  max-width: 100%;
  padding: 0 50px 0 15px;
}

/* Side Nav */

.sidenav li>a>i,
.sidenav li>a>[class^="mdi-"],
.sidenav li>a li>a>[class*="mdi-"],
.sidenav li>a>i.material-icons {
  margin: 0 15px 0 0;
}

.sidenav {
  width: 250px;
}

.ptop {
  padding-top: 25px;
}

.dotted-line {
  border-top: 1px dotted grey;
  padding-top: 15px;
  margin-top: 10px;
}

.sidenav i {
  font-size: 18px;
}

/* Landing Page */

/*
.landing {
  background: #29ABE2;
  background: -webkit-linear-gradient(to right, #4F00BC, #29ABE2);
  background: -webkit-gradient(linear, right bottom, left top, from(#4F00BC), to(#29ABE2));
  background: -webkit-linear-gradient(right bottom, #4F00BC, #29ABE2);
  background: -o-linear-gradient(right bottom, #4F00BC, #29ABE2);
  background: linear-gradient(to left top, #4F00BC, #29ABE2);
  height: 100vh;
} */

.landing {
  background: hsla(0,0%,100%,1);
  height: 100%;
  overflow-x: hidden;
}

.landing i {
  color: #2d2d2d;
}

.landing-content {
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate3d(-50%,-50%,0);
          transform: translate3d(-50%,-50%,0);
}

.landing-content a {
  color: #2d2d2d;
  text-decoration: underline;
}

.landing-content h1 {
  font-size: calc(2.5em + 2.2vw);
  color: #2d2d2d !important;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.landing-content p {
  color: #2d2d2d !important;
  font-size: calc(0.9em + 0.6vw);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-top: 2.5em;
}

.social-links i {
  color: #2d2d2d;
  font-size: calc(1.2em + 1vw);
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* About Page */

.about-content {
  height: 80vh;
}

.about nav ul a span {
  color: #2d2d2d;
}

.about i {
  color: #2d2d2d;
}

.about img {
  width: 275px;
  margin-top: 2em;
  margin-bottom: 2em;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.about p a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: underline;
}

.social-icons-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: rgba(0, 0, 0, 0.87);
  font-size: 22px;
}

.social-icons-about i {
  padding-right: 0.5em;
  color: rgba(0, 0, 0, 0.87);
}

/* Projects Page */

.projects nav ul a span {
  color: #2d2d2d;
}

.projects i {
  color: #2d2d2d;
}

.w60 {
  width: 60%;
  margin-top: 1em;
}

.w90 {
  margin: 0 auto;
  width: 97%;
  padding-top: 5em;
}

.active {
  border-bottom: none;
}

.tabs .tab a, .tabs .tab a:hover, .tabs .tab a.active, .tabs .tab a.active:hover {
  color: #2d2d2d;
}

.tabs .indicator {
  background-color: #2d2d2d;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: #fff;
}

.card {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 1em;
}

.card-image {
  height: 300px;
}

.card .card-image img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-content {
  height: 100px;
}

.card-action {
  height: 50px;
}

/* Resume Page */

.resume nav ul a span {
  color: #2d2d2d;
}

.resume i {
  color: #2d2d2d;
}

.resume-frame {
  height: calc(100vh - 68px);
}

/* ----------------------------- MEDIA QUERIES ----------------------------- */

/* Mobile Breakpoint */

@media screen and (max-width: 1023px) {

  .nav-wrapper {
    max-width: 100%;
    padding: 0;
  }

  .landing-content {
    width: 75%;
    top: 50%;
  }

  .landing-content h1 {
    font-weight: 800;
  }

  .landing-content p {
    font-weight: 800;
  }

  .social-icons-about {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 2em;
  }

  .social-icons-about i {
    padding-right: 0.5em;
    color: rgba(0, 0, 0, 0.87);
  }

  .social-icons-about i:nth-of-type(1) {
    padding-left: 0.5em;
  }

  #remove {
    display: none;
  }

  .w60 {
    width: 100%;
    margin-top: 0;
  }

  .w90 {
    width: 100%;
  }

  .about img {
    margin-top: 200px;
  }
  
  /* kill canvas at mobile */
  .content.content--canvas canvas{
    display: none;
  }

/* resize window */
@media screen and (min-width: 994px) {
  .about img {
    margin-top: 20px;
  }
}

/* Specifics*/

/* iPhone 5 & 5S in portrait */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
  .landing-content h1 {
    margin: 0;
    margin-bottom: 0.5em;
    margin-top: 10%;
  }

  br {
    display: none;
  }

  .about img {
    width: 200px;
  }
}

/* iPhone X in landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) {
  br {
    display: none;
  }

  .landing-content {
    top: 50%;
  }

  .landing-content h1 {
    margin: 0;
    font-size: 40px;
    padding-bottom: 15px;
  }

  .about img {
    width: 200px;
    margin-bottom: 0;
  }
}

/* iPhone 6,7,8 portrait */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
  .landing-content h1 {
    margin: 0;
    margin-bottom: 1em;
    line-height: 50px;
  }

  .social-links {
    margin-top: 3em;
  }

  .about img {
    width: 250px;
  }
}

/* iPhone 6,7,8 landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
  br {
    display: none;
  }

  .landing-content {
    top: 50%;
  }

  .landing-content h1 {
    margin: 0;
    font-size: 40px;
    padding-bottom: 15px;
  }

  .about img {
    width: 200px;
  }
}

/* iPhone 6,7,8 + portrait */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {
  .landing-content h1 {
    margin: 1em;
    line-height: 60px;
  }

  .about img {
    width: 250px;
  }
}

/* iPhone 6, 7, & 8 Plus in landscape */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) {
  br {
    display: none;
  }

  .landing-content {
    top: 50%;
  }

  .landing-content h1 {
    margin: 0;
    font-size: 40px;
    padding-bottom: 15px;
  }

  .about img {
    width: 200px;
    margin-bottom: 0;
  }
}

/* iPhone 5 & 5S in landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
  .landing-content {
    top: 50%;
  }

  .landing-content h1 {
    font-size: 30px;
    padding-bottom: 15px;
  }

  .landing-content p {
    line-height: 20px;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-size: 14px;
  }

  .about img {
    width: 200px;
    margin-top: 250px;
    margin-bottom: 0;
  }
}

/* iPhone X in portrait */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {
  .about img {
    width: 300px;
  }
}

/* iPad portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .about-content {
    width: 55%;
  }

  .about img {
    margin-top: 20px;
  }
}

/* iPad Pro portrait & landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .landing-content {
    top: 45%;
  }

  .about-content {
    width: 75%;
  }
}

/* Galaxy s5 landscape*/
@media only screen and (max-height: 360px) and (max-width: 640px) and (orientation:landscape) {
  .landing-content {
    top: 50%;
  }

  .landing-content h1 {
    font-size: 30px;
  }

  .about img {
    margin-top: 250px;
  }
 }
}

