.dl-table {
  a {
    padding-bottom: 0.4rem;
  }

  .btn {
    margin: 1.5rem 0;
  }
}
.resume-frame{
  height: calc(100vh - 50px);
  position: relative;
  top:-110px;
  @media (max-width:768px) {
    top:-30px
  }
}
